<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!
<%= turbo_stream_from 'articles' %>

<ul>
  <%= turbo_frame_tag 'articles' do %>
    <%= render @articles %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_url %>

